* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container {
  margin: auto;
}
@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 70%;
  }
}

body {
  font-family: Tahoma;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  padding: 8px;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: white;
  width: 0%;
  left: 50%;
  transform: translate(-50%);
  transition: 0.3s;
}
a:hover::after {
  width: 70%;
}

ul {
  list-style: none;
}

hr {
  height: 7px;
  background-color: #eee;
  display: block;
}

.head-with-after {
  position: relative;
  text-align: center;
}
.head-with-after h2 {
  background-color: rgb(236, 17, 101);
  width: 400px;
  padding: 10px;
  margin: auto;
  color: white;
  border-radius: 25px;
}
.head-with-after::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 50%;
  height: 1.5px;
  background-color: rgb(170, 167, 167);
  z-index: -1;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}
@media screen and (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
}

.bar_container {
  padding: 6px 10px;
  background-color: #eee;
  position: absolute;
  right: 20px;
  top: 50px;
  cursor: pointer;
  color: rgb(236, 17, 101);
  font-size: 22px;
  display: none;
}
@media screen and (max-width: 767px) {
  .bar_container {
    display: inline-block;
  }
}

header a {
  color: white;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 3px 3px 4px rgb(185, 183, 183);
  background-color: white;
  z-index: 4;
}

.logo {
  width: 27%;
}
@media screen and (max-width: 767px) {
  .logo {
    width: 50%;
    text-align: center;
    margin: 10px auto;
  }
}

.logo p {
  margin-top: 5px;
}

nav {
  width: 73%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  nav {
    width: 100%;
  }
}

nav ul {
  background-color: rgb(236, 17, 101);
  display: flex;
  justify-content: center;
  height: 80px;
  color: white;
  align-items: center;
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  nav ul {
    display: block;
    height: 0px;
    overflow: hidden;
    background-color: white;
    transition: 0.4s;
    border-radius: 0;
  }
  nav ul a:hover::after {
    width: 15%;
  }
}
nav ul.show {
  height: 160px;
}

ul li {
  margin: 0 5px;
  background-color: rgb(236, 17, 101);
}
@media screen and (max-width: 767px) {
  ul li {
    margin: 5px;
  }
}

footer {
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
}
footer h3 {
  margin: 14px 0;
}
footer h4 {
  color: rgb(236, 17, 101);
}
footer p {
  line-height: 1.5;
}
footer .div1, footer .div2, footer .div3 {
  padding: 10px;
  flex: 1;
}
@media (max-width: 992px) {
  footer .div1, footer .div2, footer .div3 {
    flex: 50%;
  }
}
@media (max-width: 767px) {
  footer .div1, footer .div2, footer .div3 {
    flex: 100%;
  }
}
footer .div1 > div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
footer .div1 > div div {
  margin-left: 10px;
}
footer .div1 > div img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}
footer .div1 > div p {
  color: grey;
}
footer .div2 span {
  color: rgb(236, 17, 101);
}
footer .div2 p {
  line-height: 1.5;
  color: gray;
  margin: 15px 0;
}
footer .div3 form input, footer .div3 form textarea {
  padding: 10px;
  border: 0;
  background-color: white;
  outline: 0;
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  footer .div3 form input, footer .div3 form textarea {
    width: 100%;
  }
}
footer .div3 form input[type=submit] {
  background-color: rgb(236, 17, 101);
  color: white;
  cursor: pointer;
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 20px;
  font-size: 18px;
}

.slider {
  padding: 10px;
  text-align: center;
  margin-top: 150px;
}
.slider.show {
  margin-top: 280px;
}
.slider q {
  display: block;
  margin: 20px 0;
}
.slider img {
  width: 100%;
  height: 500px;
}
.slider .bullets {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.slider .bullets li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}
.slider .bullets li.active, .slider .bullets li:hover {
  background-color: white;
  border: 2px solid black;
}

.services {
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 50px;
}
.services .services-box {
  margin-top: 40px;
  float: left;
  width: 33.3333333333%;
}
@media screen and (max-width: 992px) {
  .services .services-box {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  .services .services-box {
    width: 100%;
  }
}
.services .services-box:not(:last-of-type) {
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .services .services-box {
    padding: 0 20px;
  }
}
.services .serv-title i {
  font-size: 27px;
  margin-right: 10px;
}
.services .serv-desc {
  margin: 15px 0;
  color: rgb(100, 98, 98);
  line-height: 1.5;
}
.services .link {
  padding-left: 0;
  background-color: rgb(236, 17, 101);
  color: white;
  padding: 10px;
}
.services .link::after {
  width: 100%;
}

.players-section {
  margin-top: 70px;
}
.players-section .players {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.players-section .players .player {
  padding: 5px;
  width: 16.6666666667%;
}
@media screen and (max-width: 1200px) {
  .players-section .players .player {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 767px) {
  .players-section .players .player {
    width: 50%;
  }
}
.players-section .players .player img {
  width: 100%;
  height: 190px;
  border-radius: 10px;
}
.players-section .players .player .player-info .player-name {
  margin: 7px 0;
}
.players-section .players .player .player-info .player-name span {
  font-weight: bold;
}
.players-section .players .player .player-info .player-data {
  margin: 7px 0;
  color: gray;
  line-height: 1.5;
}
.players-section .players .player .link {
  display: inline;
  color: rgb(236, 17, 101);
  padding-left: 0;
}
.players-section .players .player .link i {
  font-size: 14px;
  margin-left: 2px;
}

.lorem-section {
  margin-top: 50px;
  margin-bottom: 100px;
}
.lorem-section .lorem-images {
  padding: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.lorem-section .lorem-images .lorem-image {
  position: relative;
  width: 31.3333333333%;
}
.lorem-section .lorem-images .lorem-image .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
@media screen and (max-width: 767px) {
  .lorem-section .lorem-images .lorem-image {
    width: 94%;
  }
}
.lorem-section .lorem-images .lorem-image img {
  border-radius: 15px;
  height: 100%;
}
.lorem-section .lorem-images .lorem-image:hover .overlay {
  width: 100%;
}
.lorem-section .lorem-images .lorem-image:nth-child(2) {
  margin: 0 3%;
}
@media screen and (max-width: 767px) {
  .lorem-section .lorem-images .lorem-image:nth-child(2) {
    margin: 3% 0;
  }
}/*# sourceMappingURL=home.css.map */